.Exercise {
  .Exercise-row {
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #D2D8E6;
    border-left-width: 8px;
    background-color: #F2F6FA;
    display: inline-flex;
    height: 60px;
    padding-left: 20px;
    width: 100%;
  }
}

.Exercise {
  .Exercise-image {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
  }
}

.Exercise {
  .Exercise-text-container {
    padding-left: 20px;
    text-align: left;
  }
}

.Exercise {
  .Exercise-name {
    color: #66B0FF;
    font-size: 14pt;
  }
}

.Exercise {
    .Exercise-peer-review {
    color: #8293BD;
    font-size: 12pt;
  }
}
